body {
    margin: 0;
    background-color: #1E2328;
}



/***** HEADER *****/


header {
    height: 6vh;
    background-color: #2A2E34;
    justify-content: space-between;
    align-items: center; /*Vertically center child items*/
    display: flex;
    padding-top: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header h1 {
    margin: 0;
    padding-left: 10vh;
    font-family: Pixelmap;
    color: #FFC300;
    font-size: 3vh;
    cursor: pointer;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: dogica;
    font-size: 2vh;
}

header li {
    margin-right: 7vh;
}

header button {
    border: none;
    border-radius: 0.5vh;
    margin-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: #FFC300;
    text-align: center;
    text-decoration: none;
    font-family: dogica;
    font-size: 2vh;
    cursor: pointer;
}


/******************************* MAIN **********************************/

main {
    display: flex;
    flex-wrap: wrap;
    height: 130%;
    justify-content: center;
}


/** WRAPPER 1**/

.wrapper1{
    width: 100%;
    height: 50%;
    margin: 8vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 53% 27% 18%; /* Using % instead of 'fr' in this case to add flexibility*/
    grid-template-rows: 36vh;
    gap: 1%; /*If using 'vh' or 'wh' the grid is overflowed*/
}

.Button {
    width: 100%; /* So it adapts to the grids' column width */
    height: 100%;
    border-radius: 1vh;
    cursor: pointer;

    /*
    box-shadow: -0.5vh 0 0 0 black,
                0.5vh 0 0 0 black,
                0 -0.5vh 0 0 black,
                0 0.5vh 0 0 black;
    */
}

#projectDiv {
    border-radius: 1vh;
    border-width: 1vh;
    cursor: pointer;
    width: 100%;
    height: 100%;            /* Will double */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center; /* Will change to flex-start when clicked */
    padding-top: 0vh;        /* Will change to 5vh when clicked */
    background-image: url(../media/nightpixel.jpg); 
    background-size: cover;
    color: #FFC300;
    border-color: #FFC300;
    text-shadow: 0vh 1vh 2vh black ;
    font-family: Pixelmap;
    font-size: 5vh;
}

#projectList {
    margin-top: 7vh;
    width: 80%;
    height: 50vh;
    background-color: #1E2328;
    display: grid;        /* WIll change to "none" */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    gap: 2vh;
    row-gap: 4vh;
    visibility: visible;  /* Will change to "hidden" */

}

#contactButton {
    background-image: url(../media/handpixelmedia.jpg); 
    background-size: cover;
    color: #FFC300;
    border-color:mediumpurple;
    text-shadow: 0vh 1vh 2vh black ;
    font-family: Pixelmap;
    font-size: 5vh;
}

#profileImage {
    background-image: url(../media/mifacepixel.png); 
    background-size: cover;
    border-radius: 1vh;
}


/** WRAPPER 2**/

.wrapper2{
    width: 100%;
    height: 50%;
    margin: 10vh;
    margin-top: 0vh;
    display: grid;
    grid-template-columns: 40% 28% 30%; /* Using % instead of 'fr' in this case to add flexibility*/
    grid-template-rows: 36vh;
    gap: 1%;
}

/***** FONTS *****/


@font-face {
    font-family:"Pixelmap";
    src: url("/fonts/04B_30__.ttf") format("truetype");
}

@font-face {
    font-family:"dogica";
    src: url("/fonts/dogica.ttf") format("truetype");
}