body {
    margin: 0;
    background-color: #1E2328;
}



/***** HEADER *****/


header {
    height: 100%;
    background-color: #2A2E34;
    justify-content: space-between;
    align-items: center; /*Vertically center child items*/
    display: flex;
    padding-top: 0;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

header h1 {
    margin: 0;
    padding-left: 3vh;
    font-family: Pixelmap;
    color: #FFC300;
    font-size: 3vh;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-right: 8vh;
    padding: 0;
    align-items: center;
    font-family: dogica;
    font-size: 2vh;
}

header li {
    margin-right: 8vh;
}

header button {
    border: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: #FFC300;
    text-align: center;
    text-decoration: none;
    font-family: dogica;
    font-size: 2vh;
    cursor: pointer;
}


/******************************* MAIN **********************************/

main {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


/** WRAPPER 1**/

.wrapper1{
    width: 100%;
    height: 50%;
    margin: 10vh;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 30% 48% 20%; /* Using % instead of 'fr' in this case to add flexibility*/
    grid-template-rows: 30vh;
    gap: 1%; /*If using 'vh' or 'wh' the grid is overfloaded*/
}

.projectButton {
    width: 100%; /* So it adapts to the grids' column width */
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

.aboutButton {
    width: 100%;
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

.contactButton {
    width: 100%;
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

/** WRAPPER 2**/

.wrapper2{
    width: 100%;
    height: 50%;
    margin: 10vh;
    margin-top: 0vh;
    display: grid;
    grid-template-columns: 15% 48% 35%; /* Using % instead of 'fr' in this case to add flexibility*/
    grid-template-rows: 30vh;
    gap: 1%;
}

.projectButton2 {
    width: 100%; /* So it adapts to the grids' column width */
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

.aboutButton2 {
    width: 100%;
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

.contactButton2 {
    width: 100%;
    height: 30vh;
    border: none;
    background-color: #0F6292;
    text-align: center;
    cursor: pointer;
}

/***** FONTS *****/


@font-face {
    font-family:"Pixelmap";
    src: url("/fonts/04B_30__.ttf") format("truetype");
}

@font-face {
    font-family:"dogica";
    src: url("/fonts/dogica.ttf") format("truetype");
}